:root{
  --red: #f10101;
  --green: #04c754
}

body{
  background-color: #323436;
  color: #dad1d1
}
.App{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button{
  margin-top: 20px;
  background-color: transparent;
  color: rgba(255,255,255, 0.8);
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}
button:hover{
  color: rgba(255, 255, 255, 0.93);
}

button.with-text{
  width: auto;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4em;
  line-height: 36px;
}

button.with-text svg{
  width: 36px;
  float: left;
  margin-right: 5px;
}

.settings{
  text-align: left;
}

label{
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}